<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>

  <connectionStrings>
    <add name="mssql" connectionString="Server=.\SQLEXPRESS;Database=Mpwik.WisApp;User Id=sa; Password=server1907;MultipleActiveResultSets=true"/>
    <add name="mssql_server" connectionString="Server=192.168.8.199,1433;Database=MPWiK.WisSrv;User Id=sa; Password=server1907"/>
  </connectionStrings>
  <appSettings>
    <add key="_logPath" value="C:/KioskAppLogs/"/>
    <add key="_opoznienieStartuAplikacji" value="3000"/>
    <add key="_removeLogsAfterDays" value="7"/>

    <add key="_kioskId" value="1"/>
    <add key="_debugMode" value="1"/>
    <add key="_supervisorCardCustomerId" value="1"/>
    <add key="_servicePass" value="558899"/>
    <add key="_RfidReaderReconnectAfterRead" value="true"/>

    <add key="_mainPageHead" value="STACJA ZLEWNA PRACZE"/>
    <add key="_mainPageAddr1" value="MPWiK S.A."/>
    <add key="_mainPageAddr2" value="ul. Na Grobli 14/16"/>
    <add key="_mainPageAddr3" value="54-421 Wrocław"/>

    <add key="_SequenceConfirmationTimeout" value="30"/>
    <add key="_SequenceNoFlowPageDisplayTime" value="30"/>
    <add key="_SequenceErrorPageDisplayTime" value="30"/>
    <add key="_SequenceThankYouPageDisplayTime" value="30"/>
    <add key="_SequenceDevErrorPageDisplayTime" value ="30"/>

    <add key="_OpenGeteTimeInSeconds" value="30"/>
    <add key="_OpenDistributionTimeInSeconds" value="30"/>
    <add key="_OpenScreenRoomTimeInSeconds" value="30"/>
    <add key="_OpenToiletTimeInSeconds" value="30"/>

    <add key="_ProbeResetPageDisplayTimeout" value="15"/>

    <add key="_errorPageDurationInSeconds" value="30"/>
    <add key="_screenCleaningTimeout" value="100"/>

    <add key="_lastBottleNo" value="24"/>

    <add key="_printerOn" value="1"/>
    <add key="_printerName" value="SANEI SK1-21S"/>
    <add key="_opcOn" value="1"/>

    <add key="_reciptLenghtInMilimeters" value="135"/>
    <add key="_reciptPaperLenghtInMilimeters" value="400000"/>

    <add key="_dumpPathMessageRegular" value="Podpięcie do złącza PODSTAWOWEGO"/>
    <add key="_dumpPathMessageBackup" value="Podpięcie do złącza AWARYJNEGO"/>

    <!-- DA Client connection details-->
    <!-- <add key="opcServerAddress" value="opcda://localhost/OPC.SimaticNET"/>
    <add key="opsNamespace" value=""/>-->
    <add key="opcServerAddress" value="opc.tcp://Pracze:55105"/>
    <add key="opsNamespace" value="SYM:"/>

    <add key="VarAddressLifeBit" value="Pracze_PLC.Pracze_PLC.DB601_PLC_KIOSK.CounterComm"/>
    <add key="VarAddressKioskLifeBit" value="Pracze_PLC.Pracze_PLC.DB600_KIOSK_PLC.CounterComm"/>

    <add key="VarAddressTransactionLifeBit" value="Pracze_PLC.Pracze_PLC.DB601_PLC_KIOSK.CounterRun"/>
    <add key="VarAddressTransactionKioskLifeBit" value="Pracze_PLC.Pracze_PLC.DB600_KIOSK_PLC.CounterRun"/>

    <add key="VarAddressFlowCnt" value="Pracze_PLC.Pracze_PLC.DB601_PLC_KIOSK.FlowCnt"/>

    <add key="VarAddressProbeStart" value="Pracze_PLC.Pracze_PLC.DB600_KIOSK_PLC.ProbeSTART"/>
    <add key="VarAddressProbeMin" value="Pracze_PLC.Pracze_PLC.DB600_KIOSK_PLC.ProbeMIN"/>
    <add key="VarAddressDeclaredSewageAmount" value="Pracze_PLC.Pracze_PLC.DB600_KIOSK_PLC.Car_Volume_Sp"/>
    <add key="VarAddressProbe1" value="Pracze_PLC.Pracze_PLC.DB600_KIOSK_PLC.Probe1"/>
    <add key="VarAddressProbe2" value="Pracze_PLC.Pracze_PLC.DB600_KIOSK_PLC.Probe2"/>
    <add key="VarAddressProbe3" value="Pracze_PLC.Pracze_PLC.DB600_KIOSK_PLC.Probe3"/>
    <add key="VarAddressSeqHoldTime" value="Pracze_PLC.Pracze_PLC.DB600_KIOSK_PLC.SeqHoldTime"/>
    <add key="VarAddressSeqNoFlowTime" value="Pracze_PLC.Pracze_PLC.DB600_KIOSK_PLC.SeqNoFlowTime"/>
    <add key="VarAddressSeqNormalFlowEnd" value="Pracze_PLC.Pracze_PLC.DB600_KIOSK_PLC.SeqNormalFlowEnd"/>
    <add key="VarAddressWaterForMeasuringDevicesTime" value="Pracze_PLC.Pracze_PLC.DB600_KIOSK_PLC.H2OMeterTime"/>

    <add key="VarAddressPressureFactor" value="Pracze_PLC.Pracze_PLC.DB600_KIOSK_PLC.PressureFactor"/>
    <!--CISNIENIE-->
    <add key="VarAddressPressureMaxTime" value="Pracze_PLC.Pracze_PLC.DB600_KIOSK_PLC.PressureMaxTime"/>
    <!--CISNIENIE-->

    <add key="VarAddressProbeScheduledBottleNo" value="Pracze_PLC.Pracze_PLC.DB601_PLC_KIOSK.ProbeSchedNr"/>
    <add key="VarAddressProbeAlarmBottleNo" value="Pracze_PLC.Pracze_PLC.DB601_PLC_KIOSK.ProbeAlarmNr"/>

    <add key="VarAddressDumpPath" value="Pracze_PLC.Pracze_PLC.DB601_PLC_KIOSK.Route"/>
    <add key="VarAddressCameraRegistration" value="S7-1200 station_1.Ciazyn_PLC.DB601_PLC_KIOSK.PlateNr1"/>
    <add key="VarAddressCameraRegistration2" value="S7-1200 station_1.Ciazyn_PLC.DB601_PLC_KIOSK.PlateNr2"/>

    <add key="VarAddressStopCode" value="Pracze_PLC.Pracze_PLC.DB601_PLC_KIOSK.StopCode"/>

    <add key="VarAddressPlCToKiosk1" value="Pracze_PLC.Pracze_PLC.DB601_PLC_KIOSK.PLC_To_Kiosk_1"/>
    <add key="VarAddressPlCToKiosk2" value="Pracze_PLC.Pracze_PLC.DB601_PLC_KIOSK.PLC_To_Kiosk_2"/>
    <add key="VarAddressPlCToKiosk3" value="Pracze_PLC.Pracze_PLC.DB601_PLC_KIOSK.PLC_To_Kiosk_3"/>

    <add key="VarAddressPlCToKioskPermitCode" value="Pracze_PLC.Pracze_PLC.DB601_PLC_KIOSK.PermitCode"/>
    <add key="VarAddressPlCToKioskReadyCode" value="Pracze_PLC.Pracze_PLC.DB601_PLC_KIOSK.ReadyCode"/>
    <add key="VarAddressPlCToKioskStopCode" value="Pracze_PLC.Pracze_PLC.DB601_PLC_KIOSK.StopCode"/>
    <add key="VarAddressPlCToKioskMeasCode" value="Pracze_PLC.Pracze_PLC.DB601_PLC_KIOSK.MeasCode"/>

    <add key="VarAddressKioskToPlc1" value="Pracze_PLC.Pracze_PLC.DB600_KIOSK_PLC.Kiosk_To_PLC_1"/>
    <add key="VarAddressKioskToPlc2" value="Pracze_PLC.Pracze_PLC.DB600_KIOSK_PLC.Kiosk_To_PLC_2"/>

    <!--
      PLC TO KIOSK
    -->

    <!--PLC_To_Kiosk_1-->
    <add key="Mask230VAC" value="1"/>
    <add key="Mask24VDC" value="2"/>

    <add key="MaskKioskDoorOpen" value="4"/>
    <add key="MaskProbeDoorOpen" value="8"/>

    <add key="MaskAirOk" value="16"/>
    <add key="MaskFlowOk" value="32"/>
    <add key="MaskPhMeterOk" value="64"/>
    <add key="MaskTempMeterOk" value="128"/>
    <add key="MaskProbeOk" value="256"/>
    <add key="MaskProbeReady" value="512"/>

    <add key="MaskDistribution230VACOk" value="1024"/>
    <add key="MaskDistribution230VACUpsOk" value="2048"/>
    <add key="MaskRack230VACOk" value="4096"/>
    <add key="MaskRack24VDCOk" value="8192"/>
    <add key="MaskRack24VDCUPSOk" value="16384"/>
    <add key="MaskRack12VDCOk" value="32768"/>

    <add key="MaskPumpRoomOk" value="65536"/>
    <add key="MaskPumpRoomWorking" value="131072"/>
    <add key="MaskScreenRoomLeak" value="262144"/>
    <add key="MaskScreenOk" value="524288"/>
    <add key="MaskScreenAuto" value="1048576"/>
    <add key="MaskScreenFull" value="2097152"/>

    <add key="MaskAugerOk" value="4194304"/>
    <add key="MaskAugerAuto" value="8388608"/>

    <add key="MaskPreScreenOk" value="16777216"/>
    <add key="MaskPreScreenAuto" value="33554432"/>

    <add key="MaskDumpPathOk" value="67108864"/>
    <add key="MaskDumpPathAuto" value="134217728"/>

    <add key="MaskGateOk" value="268435456"/>
    <add key="MaskGateOpen" value="536870912"/>

    <add key="MaskValveMeterOk" value="1073741824"/>
    <add key="MaskProbeResetting" value="2147483648"/>

    <!--PLC_To_Kiosk_2-->
    <add key="MaskSeqRun" value="1"/>
    <add key="MaskSeqIdle" value="2"/>
    <add key="MaskSeqHeld" value="4"/>
    <add key="MaskSeqFinish" value="8"/>

    <add key="MaskSeqErrNoFlow" value="16"/>
    <add key="MaskSeqErrDev" value="32"/>
    <add key="MaskSeqErrAlarm" value="64"/>
    <add key="MaskSeqErrAlarmProbe" value="128"/>
    <add key="MaskSeqErrScreenFull" value="256"/>
    <add key="MaskSeqErrKiosk" value="512"/>
    <add key="MaskSeqNoFlowAck" value="1024"/>
    <add key="MaskSeqAck" value="2048"/>

    <add key="MaskProbeScheduledTaken" value="4096"/>
    <add key="MaskProbeAlarmTaken" value="8192"/>

    <add key="MaskKioskLightOn" value="16384"/>

    <add key="MaskWaterForMeasuringDevicesOn" value="32768"/>

    <add key="MaskSeqReady" value="65536"/>
    <add key="MaskSeqPermit" value="131072"/>

    <add key="MaskPressureDumpError" value="262144"/>
    <!--CISNIENIE-->
    <add key="MaskPressurePumpOn" value="524288"/>
    <!--CISNIENIE-->

    <add key="MaskPressureOk" value="16777216"/>

    <!--PLC_To_Kiosk_Permit_Code-->
    <add key="MaskPermitCodePhMeasureErr" value="1"/>
    <add key="MaskPermitCodeFlowErr" value="2"/>
    <add key="MaskPermitCodeTempMeasureErr" value="4"/>
    <add key="MaskPermitCodeHuberZSPErr" value="8"/>

    <add key="MaskPermitCodeSepErr" value="16"/>
    <add key="MaskPermitCodePathErr" value="32"/>
    <add key="MaskPermitCodeChztMeasureErr" value="64"/>
    <add key="MaskPermitCodePressureMeasureErr" value="128"/>

    <add key="MaskPermitCode24VDCErr" value="256"/>
    <add key="MaskPermitCode230VACErr" value="512"/>

    <add key="MaskPermitCodeKioskDoorOpen" value="1024"/>
    <add key="MaskPermitCodeAirErr" value="2048"/>
    <add key="MaskPermitCodeDumpLockNoAuto" value="4096"/>
    <add key="MaskPermitCodeDumpLockErr" value="8192"/>
    <add key="MaskPermitCodeAutoFlushErr" value="16384"/>
    <add key="MaskPermitCodeFlushLockErr" value="32768"/>

    <add key="MaskPermitCodeS7Kiosk" value="65536"/>
    <add key="MaskPermitCodeS7PCS" value="131072"/>

    <add key="MaskPermitCodeProbeErr" value="262144"/>
    <add key="MaskPermitCodeProbeNoBottle" value="524288"/>
    <add key="MaskPermitCodeProbeNoAuto" value="1048576"/>

    <add key="MaskPermitCodeCanal1Flooded" value="2097152"/>
    <add key="MaskPermitCodeCanal2Flooded" value="4194304"/>

    <add key="MaskPermitCodePCSVoltageProtErr" value="8388608"/>
    <add key="MaskPermitCodePCS230VACErr" value="16777216"/>
    <add key="MaskPermitCodePCS24VDCErr" value="33554432"/>
    <add key="MaskPermitCodePCS12VDCErr" value="67108864"/>
    <add key="MaskPermitCodePCS400VACErr" value="134217728"/>

    <!--PLC_To_Kiosk_Ready_Code-->
    <add key="MaskReadyCodeChztClean" value="1"/>
    <add key="MaskReadyCodeZSPMax" value="2"/>
    <add key="MaskReadyCodeProbeRunning" value="4"/>
    <add key="MaskReadyCodeProbeNoBottles" value="8"/>
    <add key="MaskReadyCodeProbeErr" value="16"/>
    <add key="MaskReadyCodeProbeNoProg" value="32"/>

    <!--PLC_To_Kiosk_Stop_Code-->
    <add key="MaskStopCodeSeparatorErr" value="1"/>
    <add key="MaskStopCodeCanalFloodedErr" value="2"/>

    <add key="MaskStopCodePHMeasureErr" value="3"/>
    <add key="MaskStopCodeTempMeasureErr" value="4"/>
    <add key="MaskStopCodeChztErr" value="5"/>
    <add key="MaskStopCodePressureErr" value="6"/>
    <add key="MaskStopCodeFlowErr" value="7"/>

    <add key="MaskStopCodeProbeWashErr" value="8"/>
    <add key="MaskStopCodeProbeWashNoAuto" value="9"/>

    <add key="MaskStopCodeLockErr" value="10"/>
    <add key="MaskStopCodeLockNoAuto" value="11"/>

    <add key="MaskStop24VDCErr" value="12"/>
    <add key="MaskStop230VACErr" value="13"/>
    <add key="MaskStopAirErr" value="14"/>
    <add key="MaskStopKioskOpen" value="15"/>

    <add key="MaskStopPathNotOpen" value="16"/>
    <add key="MaskStopCodeS7PCSCommErr" value="17"/>
    <add key="MaskStopPathNotOpen2" value="18"/>

    <add key="MaskStopCodeProbeErr" value="19"/>
    <add key="MaskStopCodeProbeNotReady" value="20"/>
    <add key="MaskStopCodePressureOverage" value="21"/>

    <add key="MaskStopCodeScreenFull" value="22"/>
    <add key="MaskStopCodePathAutoErr" value="23"/>
    <add key="MaskStopCodePathErr" value="24"/>

    <add key="MaskStopCodeUPSActive" value="25"/>
    <add key="MaskStopCode230VACErr" value="26"/>
    <add key="MaskStopCode24VDCErr" value="27"/>
    <add key="MaskStopCode12VDCErr" value="28"/>
    <add key="MaskStopCodeUPSErr" value="29"/>

    <!--PLC_To_Kiosk_Ready_Code-->
    <add key="MaskMeasCodePHMin" value="1"/>
    <add key="MaskMeasCodePHMax" value="2"/>
    <add key="MaskMeasCodeTempMin" value="3"/>
    <add key="MaskMeasCodeTempMax" value="4"/>
    <add key="MaskMeasCodeChztMin" value="5"/>
    <add key="MaskMeasCodeChztMax" value="6"/>

    <!--
      KIOSK TO PLC
    -->

    <!--Kiosk_To_PLC_1-->
    <add key="MaskProbeSched" value="1"/>
    <add key="MaskProbePermit" value="2"/>
    <add key="MaskH2OMeter" value="4"/>
    <add key="MaskpHOn" value="8"/>
    <add key="MaskTempOn" value="16"/>

    <add key="MaskPaperEnd" value="32"/>
    <add key="MaskPrinterOn" value="64"/>

    <add key="MaskKioskOn" value="128"/>
    <add key="MaskKioskSeqNoFlowAck" value="256"/>
    <add key="MaskKioskSeqAck" value="512"/>

    <add key="MaskRfidGateInErr" value="1024"/>
    <add key="MaskRfidGateOutErr" value="2048"/>
    <add key="MaskRfidScreenRoomErr" value="4096"/>
    <add key="MaskRfidDistributionErr" value="8192"/>
    <add key="MaskRfidRegNoRecErr" value="16384"/>
    <add key="MaskRfidKioskErr" value="32768"/>

    <add key="MaskRfidGateInUnknown" value="65536"/>
    <add key="MaskRfidGateOutUnknown" value="131072"/>
    <add key="MaskRfidScreenRoomUnknown" value="262144"/>
    <add key="MaskRfidDistributionUnknown" value="524288"/>
    <add key="MaskRfidRegNoRecUnknown" value="1048576"/>

    <add key="MaskProbeErrorBlockage" value="16777216"/>
    <!--x24-->
    <add key="MaskBottlesBlockage" value="33554432"/>
    <!--x25-->
    <add key="MaskPressureOn" value="67108864"/>
    <!--x26-->
    <add key="MaskPressureBlockageOn" value="134217728"/>
    <!--CISNIENIE-->

    <!--Kiosk_To_PLC_2-->
    <add key="MaskSeqStart" value="1"/>
    <add key="MaskSeqStop" value="2"/>
    <add key="MaskSeqHold" value="4"/>

    <add key="MaskLightOn" value="8"/>
    <add key="MaskLightOff" value="16"/>

    <add key="MaskResetSampler" value="32"/>

    <add key="MaskDistributionOpen" value="64"/>
    <add key="MaskScreenRoomOpen" value="128"/>
    <add key="MaskGateOpenCommand" value="256"/>

    <add key="MaskToiletCommand" value="1024"/>

    <!-- RFID Configuration -->
    <add key="RfidGateInType" value="Ethernet"/>
    <add key="RfidGateInUri" value="http://10.9.1.18/status.xml?releaseid=1"/>
    <add key="RfidGateInLogin" value="admin"/>
    <add key="RfidGateInPass" value="admin00"/>

    <add key="RfidGateOutType" value="Ethernet"/>
    <add key="RfidGateOutUri" value="http://10.9.1.19/status.xml?releaseid=1"/>
    <add key="RfidGateOutLogin" value="admin"/>
    <add key="RfidGateOutPass" value="admin00"/>

    <!--<add key="RfidKioskType" value="Ethernet"/>
    <add key="RfidKioskUri" value="http://192.168.8.95/status.xml?releaseid=1"/>
    <add key="RfidKioskLogin" value="admin"/>
    <add key="RfidKioskPass" value="admin00"/>-->

    <!--<add key="RfidHuberType" value="Ethernet"/>
    <add key="RfidHuberUri" value="http://10.9.1.20/status.xml?releaseid=1"/>
    <add key="RfidHuberLogin" value="admin"/>
    <add key="RfidHuberPass" value="admin00"/>

    <add key="RfidRozdzielniaType" value="Ethernet"/>
    <add key="RfidRozdzielniaUri" value="http://10.9.1.21/status.xml?releaseid=1"/>
    <add key="RfidRozdzielniaLogin" value="admin"/>
    <add key="RfidRozdzielniaPass" value="admin00"/>-->

    <add key="RfidToaletaType" value="Ethernet"/>
    <add key="RfidToaletaUri" value="http://10.9.1.20/status.xml?releaseid=1"/>
    <add key="RfidToaletaLogin" value="admin"/>
    <add key="RfidToaletaPass" value="admin00"/>

    <add key="RfidKioskType" value="Com"/>
    <add key="RfidKioskComName" value="COM5"/>
    <add key="RfidKioskComDataBits" value="8"/>
    <add key="RfidKioskComBoundRate" value="2400"/>
    <add key="RfidKioskComParity" value="None"/>
    <add key="RfidKioskComStopBits" value="One"/>

    <add key="RfidKameraType" value="Camera"/>
    <add key="RfidKameraComName" value="COM3"/>
    <add key="RfidKameraComDataBits" value="8"/>
    <add key="RfidKameraComBoundRate" value="9600"/>
    <add key="RfidKameraComParity" value="None"/>
    <add key="RfidKameraComStopBits" value="One"/>

    <!--
      Error messages
    -->
    <!--PLC_To_Kiosk_Permit_Code-->
    <add key="MsgPermitCodePhMeasureErr" value="Awaria pomiaru pH"/>
    <add key="MsgPermitCodeFlowErr" value="Awaria przepływu"/>
    <add key="MsgPermitCodeTempMeasureErr" value="Awaira pomiaru temperatury"/>
    <add key="MsgPermitCodeHuberZSPErr" value="Awaria ZSP"/>

    <add key="MsgPermitCodeSepErr" value="Awaria separatora"/>
    <add key="MsgPermitCodePathErr" value="Awaria zestawienia drogi"/>
    <add key="MsgPermitCodeChztMeasureErr" value="Awaria pomiaru ChzT"/>
    <add key="MsgPermitCodePressureMeasureErr" value="Awaria pomiaru ciśnienia"/>

    <add key="MsgPermitCode24VDCErr" value="Błąd napięcia 24VDC"/>
    <add key="MsgPermitCode230VACErr" value="Błąd napięcia 230VAC"/>

    <add key="MsgPermitCodeKioskDoorOpen" value="Drzwi kiosku otwarte"/>
    <add key="MsgPermitCodeAirErr" value="Brak sprężonego powietrza"/>
    <add key="MsgPermitCodeDumpLockNoAuto" value="Brak trybu automatycznego zasuwy"/>
    <add key="MsgPermitCodeDumpLockErr" value="Awaria zasuwy"/>
    <add key="MsgPermitCodeAutoFlushErr" value="Brak trybu automatycznego zaworu płukania"/>
    <add key="MsgPermitCodeFlushLockErr" value="Awaira zaworu płukania"/>

    <add key="MsgPermitCodeS7Kiosk" value="Awaria komunikacji S7-1200 - Kiosk"/>
    <add key="MsgPermitCodeS7PCS" value="Awaria komunikacji S7-1200 - PCS7"/>

    <add key="MsgPermitCodeProbeErr" value="Awaria pobieraka"/>
    <add key="MsgPermitCodeProbeNoBottle" value="Brak pustej butelki w pobieraku"/>
    <add key="MsgPermitCodeProbeNoAuto" value="Brak trybu autmoatycznego dla wybranej drogi"/>

    <add key="MsgPermitCodeCanal1Flooded" value="Zalanie kanału nr 1"/>
    <add key="MsgPermitCodeCanal2Flooded" value="Zalanie kanału nr 2"/>

    <add key="MsgPermitCodePCSVoltageProtErr" value="Awaria ochronnika przepięć (PCS7)"/>
    <add key="MsgPermitCodePCS230VACErr" value="Awaria napięcia 230VAC (PCS7)"/>
    <add key="MsgPermitCodePCS24VDCErr" value="Awaria napięcia 24VDC (PCS7)"/>
    <add key="MsgPermitCodePCS12VDCErr" value="Awaria napięcia 12VDC (PCS7)"/>
    <add key="MsgPermitCodePCS400VACErr" value="Awaria napięcia 400VAC (PCS7)"/>

    <!--PLC_To_Kiosk_Ready_Code-->
    <add key="MsgReadyCodeChztClean" value="Trwa czyszczenie ChzT"/>
    <add key="MsgReadyCodeZSPMax" value="ZSP poziom max"/>
    <add key="MsgReadyCodeProbeRunning" value="Trwa pobieranie próby"/>
    <add key="MsgReadyCodeProbeNoBottles" value="Brak wolnych butelek"/>
    <add key="MsgReadyCodeProbeErr" value="Pobierak, awaria"/>
    <add key="MsgReadyCodeProbeNoProg" value="Pobierak, brak uruchomionego programu"/>

    <!--PLC_To_Kiosk_Stop_Code-->
    <add key="MsgStopCodeSeparatorErr" value="Awaria separatora"/>
    <add key="MsgStopCodeCanalFloodedErr" value="Zalanie kanału"/>

    <add key="MsgStopCodePHMeasureErr" value="Awaria pomiaru pH"/>
    <add key="MsgStopCodeTempMeasureErr" value="Awaria pomiaru temperatury"/>
    <add key="MsgStopCodeChztErr" value="Awaria pomiaru ChzT"/>
    <add key="MsgStopCodePressureErr" value="Awaria pomiaru ciśnienia"/>
    <add key="MsgStopCodeFlowErr" value="Awaria pomiaru przepływu"/>

    <add key="MsgStopCodeProbeWashErr" value="Awaria zaworu płukania pomiarów"/>
    <add key="MsgStopCodeProbeWashNoAuto" value="Brak trybu automatycznego zaworu płukania pomiarów"/>

    <add key="MsgStopCodeLockErr" value="Awaria zasuwy"/>
    <add key="MsgStopCodeLockNoAuto" value="Brak trybu automatycznego zasuwy"/>

    <add key="MsgStop24VDCErr" value="Błąd napięcia 24VDC"/>
    <add key="MsgStop230VACErr" value="Bład napięcia 230VAC"/>
    <add key="MsgStopAirErr" value="Brak sprężonego powietrza"/>
    <add key="MsgStopKioskOpen" value="Kiosk otwarty"/>

    <add key="MsgStopPathNotOpen" value="Brak otwarcia drogi"/>
    <add key="MsgStopCodeS7PCSCommErr" value="Błąd komunikacji S7-1200 - PCS7"/>
    <add key="MsgStopPathNotOpen2" value="Brak otwarcia drogi"/>

    <add key="MsgStopCodeProbeErr" value="Pobierak, awaria"/>
    <add key="MsgStopCodeProbeNotReady" value="Pobierak, brak gotowości (brak uruchomionego programu, awaria)"/>
    <add key="MsgStopCodePressureOverage" value="Przekroczone ciśnienie"/>

    <add key="MsgStopCodeScreenFull" value="Sito pełne"/>
    <add key="MsgStopCodePathAutoErr" value="Brak trybu automatycznego drogi"/>
    <add key="MsgStopCodePathErr" value="Awaria drogi"/>

    <add key="MsgStopCodeUPSActive" value="Rozdzielnica, aktywny UPS (PCS7)"/>
    <add key="MsgStopCode230VACErr" value="Awaria napięcia 230VAC (PCS7)"/>
    <add key="MsgStopCode24VDCErr" value="Awaria napięcia 24VDC (PCS7)"/>
    <add key="MsgStopCode12VDCErr" value="Awaria napięcia 12VDC (PCS7)"/>
    <add key="MsgStopCodeUPSErr" value="Awaria UPS (PCS7)"/>

    <!--PLC_To_Kiosk_Ready_Code-->
    <add key="MsgMeasCodePHMin" value="Przekroczenie pH min"/>
    <add key="MsgMeasCodePHMax" value="Przekroczenie ph max"/>
    <add key="MsgMeasCodeTempMin" value="Przekroczenie temperatury min"/>
    <add key="MsgMeasCodeTempMax" value="Przekroczenie temperatury max"/>
    <add key="MsgMeasCodeChztMin" value="Przekroczenie ChzT min"/>
    <add key="MsgMeasCodeChztMax" value="Przekroczenie ChzT max"/>
  </appSettings>
</configuration>