<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="opcServerAddress" value="opc.tcp://PC01:55105"/>
    <add key="opsNamespace" value="SYM:"/>

    <add key="varAddressLicznik" value="S7-1200 station_1.PLC_1.DB_SCADA.licznik"/>
  </appSettings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
